@media only screen and (max-width: 1600px) {
  body section.content.one .right-container {
    opacity: 0;
  }
}

@media only screen and (max-width: 1500px) {
  body > *:not(footer) {
    padding: 0px 100px 0px 100px !important;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  section.content h1.content-title {
    margin-bottom: 5rem !important;
  }

  /* html {
    font-size: clamp(1px, 20%, 10px) !important;
  } */
  html {
    font-size: clamp(13px, 2vw, 20px);
  }

  html body {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    /* grid-template-columns: minmax(700px, 1fr);
    grid-template-rows: 100px calc(100vh - 100px) 1fr auto 0fr 50px;
    justify-content: center;
    text-align: center; */
  }

  html body section.content:not(.content.three, .content.four) {
    padding-bottom: 5rem !important;
    margin-bottom: 0rem !important;
  }

  html body section.content.one {
    margin-bottom: 10rem !important;
    height: calc(100vh - 150px);
  }

  html body section.content.one .left-container {
    display: flex !important;
    justify-content: center;
  }

  html body section.content.one .left-container h1 {
    line-height: -30px;
  }

  html body section.content.one .left-container p {
    width: 100% !important;
  }

  html body section.content.one .left-container {
    bottom: 10%;
  }

  html body section.content.two {
    margin-top: 0;
  }

  html body section.content.three .img-container img {
    height: 300px;
  }

  html body section.content.three .tech i {
    font-size: 40px;
  }

  html body section.content.three .tech img {
    width: 40px;
  }

  html body section.content.four {
    margin-top: 100px;
  }

  html body section.content.four .main-container {
    display: flex;
    flex-direction: column;
    padding: 35px;

    width: 700px;
    margin: 0 auto;
  }

  html body section.content.four .left-container,
  html body section.content.four .right-container {
    padding: 0;
    display: block;
  }

  html body section.content.four .left-container p {
    margin-top: 25px;
    margin-bottom: 30px;
  }

  html body section.content.four .right-container button {
    width: 80%;
  }

  /* Line */
  body .line {
    height: 3px;
    padding: 0px;
    background-color: var(--color-three);
  }

  body .content.one .line {
    left: 0;
    right: 0;
    bottom: -50px;
    margin: 0 auto;
  }
  /*
  body .content.two .line {
    left: 0;
    right: 0;
    bottom: -50px;
    margin: 0 auto;
  }

  body .content.three .line {
    left: 0;
    right: 0;
    bottom: -100px;
    margin: 0 auto;
  } */

  html body section.content.two .top-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px;
    grid-auto-rows: 250px;
  }

  html body section.content.two .bottom-container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 150px;
  }
}

@media only screen and (max-width: 1200px) {
  /* Top Container */

  html body section.content.three .img-container .content {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1000px) {
  html body section.content.two .top-container {
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  }

  html body section.content.two .bottom-container {
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  }

  body .line {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  body > *:not(footer) {
    padding: 0px 25px 0px 25px !important;
  }

  html body section.content.one .left-container span.span-one {
    display: block;
  }

  html body section.content.three .img-container img {
    height: 300px;
  }
}

@media only screen and (max-width: 342px) {
  html body section.content.one .left-container span.span-two {
    display: inline-block;
    margin-top: 60px;
  }
}
