*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  color-scheme: dark-light;
}

body {
  box-sizing: border-box;
  /* font-family: "Oswald", sans-serif; */
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

i,
i:active {
  color: crimson;
}

img.icon {
  width: 7em;
  height: auto;
  filter: invert(28%) sepia(74%) saturate(6323%) hue-rotate(337deg)
    brightness(85%) contrast(104%);
}
