swiper-container {
  width: 100%;
  height: 100%;
}

swiper-container::part(bullet-active),
swiper-container::part(bullet) {
  background-color: var(--color-five);
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: var(--color-three);
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 75px;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
