section.content.three {
  position: relative;
}

section.content.three > div {
  margin-bottom: 100px;
}

section.content.three .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

section.content.three .img-container {
  width: 500px;
  height: 450px;
  position: relative;
}

section.content.three .img-container .content {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

section.content.three .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

section.content.three .tech {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
}

section.content.three .tech .icon {
  width: 26px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(187deg)
    brightness(107%) contrast(101%);
}

section.content.three i {
  color: white;
}
/* 
  section.content.three a {
    text-decoration: none;
    padding: 7px;
    color: white;
    border: 2px solid white;
    background-color: var(--color-three);
    font-weight: bold;
    font-family: inherit;
    border-radius: 20px;
    cursor: pointer;
  }
  
  section.content.three a:hover {
    background-color: var(--color-five);
    color: black;
  }
  
  section.content.three .detail {
    display: flex;
    gap: 10px;
  }
  
  section.content.three .detail a {
    width: 130px;
    font-size: 12px;
  } */
